
body{

  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1{

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: seagreen;
  
}

.juego{

  border: 1px solid seagreen;
  border-radius: 5px;
  width: 450px;
  padding: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}